html {
    background-color: grey;
}

#scrollCanvas {
    background-color: greenyellow;
}

#viewCanvas {
    background-color: black;
    margin-top: 20px;
    border: solid 5px red;
    position: fixed;
}

#playRpg {
    margin-top: 515px;
    position: fixed;
    font-size: 25px;
}

#eventSign {
    margin-top: 515px;
    position: fixed;
    font-size: 25px;
}

#projectsContainer {
    margin-top: 550px;
    display: ;
}


.eachContainer {
    /*float: left;*/
    display: ;
    margin: 0px 3px;
}


@font-face {
    font-family: 'PixelMplus10Bold';
    src:url('../font/PixelMplus10-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'PixelMplus10Regular';
    src:url('../font/PixelMplus10-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

body{
    /* font-family: "PixelMplus10Bold"; */
    font-family: "PixelMplus10Regular";
    letter-spacing: 4px;
}

.buruburu {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


.tateburu{
    animation-name: shake-tate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 300ms;
}@keyframes shake-tate{
    0%{transform: translate(0px,-3px) rotate(2deg)}
    10%{transform: translate(0px,0px) rotate(0deg)}
    20%{transform: translate(0px,17px) rotate(-2deg)}
    30%{transform: translate(0px,-6px) rotate(-1deg)}
    40%{transform: translate(0px,10px) rotate(-2deg)}
    50%{transform: translate(0px,3px) rotate(1deg)}
    60%{transform: translate(0px,13px) rotate(2deg)}
    70%{transform: translate(0px,-17px) rotate(-1deg)}
    80%{transform: translate(0px,-3px) rotate(2deg)}
    90%{transform: translate(0px,-14px) rotate(-1deg)}
    100%{transform: translate(0px,14px) rotate(-2deg)}
}


.yokoburu{
    animation-name: shake-yoko;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 300ms;
}@keyframes shake-yoko{
    0%{transform: translate(6px,1px)}
    10%{transform: translate(-12px,1px)}
    20%{transform: translate(-2px,0px)}
    30%{transform: translate(1px,0px)}
    40%{transform: translate(-5px,1px)}
    50%{transform: translate(-8px,1px)}
    60%{transform: translate(-7px,0px)}
    70%{transform: translate(14px,-1px)}
    80%{transform: translate(8px,1px)}
    90%{transform: translate(-10px,0px)}
    100%{transform: translate(5px,-1px)}
}